<html>

<link rel="stylesheet" href="../css/home.css">
<link rel="stylesheet" href="../css/aboutme.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<head>

  <ul id="menu">


    <li class="nav_item"><a href="index.html" class="nav_link">Home</a></li>
    <li class="nav_item"><a href="apprentissage.html" class="nav_link">Apprentissage</a></li>
    <li class="nav_item"><a href="cv.html" class="nav_link">CV</a></li>
    <li class="nav_item"><a href="article.html" class="nav_link">Article</a></li>

  </ul>


</head>




<body>
<section class="QUI" id="home">

  <p class="titre_qui">About me</p>

  <div class="barree"></div>
</section>


<section class="aboutme">


  <p class="paragraph">

 Salut, je suis un étudiant en informatique, j'ai 20 ans et cela
  fait 3ans que je touche a de la programmation. J'aime tous ce qui tourne autour
  de l'informatique, les nouvelles technologies et les jeux vidéos. J'aime apprendre
  de nouvelle chose et en informatique je suis servis car il y a une infinité de
  chose à apprendre.
  <br>
  <br>
  <br>

  Pour la suite, j'aimerais retourner en France afin de continuer mes études et devenir ingénieur dans
  le domaine de l'informatique.

    </p>
</section>
</body>









</html>
