<html id="aboutme">

<link rel="stylesheet" href="../css/home.css">
<link rel="stylesheet" href="../css/apprentissage.css"
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


<head>


  <ul id="menu">

    <li class="nav_item"><a href="index.html" class="nav_link">Home</a></li>
    <li class="nav_item"><a href="aboutme.html" class="nav_link">About me</a></li>
    <li class="nav_item"><a href="cv.html" class="nav_link">CV</a></li>
    <li class="nav_item"><a href="article.html" class="nav_link">Article</a></li>

  </ul>
  <hr>




<section class="QUI" id="home">
  <p class="titre_qui">Apprentissage</p>
  <div class="barree"></div>
</section>
</head>
<body>
<section>
  <div class="cardprojet">
    <li class="box"> <a href="#web" class="post_link">WEB</a></li>
    <li class="box"> <a href="#python" class="post_link">PYTHON</a></li>
    <li class="box"> <a href="#unreal" class="post_link">UNREAL</a></li>
    <li class="box"> <a href="article.html#mobile" class="post_link">MOBILE</a></li>
  </div>
</section>
<hr>
<section class="post">
  <div class="web" id="web">

      <h1>WEB</h1>
    <p> Durant mes études, j'ai souvent appris le web en commençant au BTS et en
      l'appronfondissement en DEC. J'ai notamment créer ce site portfolio et d'autres
      réalisations que vous pouvez trouver dans Article.
      <br><a href="article.html#web" class="lien_article">Clique ici pour être redirigé vers les projets</a>
    </p>

  </div>
<hr>

  <div class="web" id="python">
      <h1>Python</h1>
    <p> Durant mon stage au Cuisinne Gaspésienne, j'ai pu apprendre le python et
      notamment Django qui est un FrameWork en Python. </p>
  </div>
<hr>
  <div class="web" id="unreal">
      <h1>Unreal</h1>
    <p> Durant le cours de monde virtuel nous avons appris à utiliser Unreal afin de créer différents
      projets. L'apprentissage des blueprints mais également du C++. J'ai également vu
      la notion de shader et comment en créer un soi-même.
    <br>  <a href="article.html#unreal" class="lien_article">Clique ici pour être redirigé vers les projets</a>
    </p>
  </div>
<hr>
  <div class="web" id="mobile">
    <h1>MOBILE</h1>
<div class="item" data-aos="fade-down">Egalement, durant le DEC, nous avons eu cours
  sur la programmation mobile. Comment créer une application avec différentes pages et
  qui intègre une base de donnés.
  <br><a href="article.html#mobile" class="lien_article">Clique ici pour être redirigé vers les projets</a>
</div>

  </div>




</section>
</body>
<hr>
<footer class="fin">
  <ul id="menu">
    <li class="nav_item"><a href="#menu" class="nav_link">Revenir en haut</a></li>
  </ul>

</footer>

</html>
