<html>

<link rel="stylesheet" href="../css/home.css">
<link rel="stylesheet" href="../css/article.css">
<link rel="stylesheet" href="../css/apprentissage.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


<head>


  <ul id="menu">

    <li class="nav_item"><a href="index.html" class="nav_link">Home</a></li>
    <li class="nav_item"><a href="aboutme.html" class="nav_link">About me</a></li>
    <li class="nav_item"><a href="cv.html" class="nav_link">CV</a></li>
    <li class="nav_item"><a href="apprentissage.html" class="nav_link">Apprentissage</a></li>

  </ul>
  <hr>




<section class="QUI" id="home">
  <p class="titre_qui">Article</p>
  <div class="barree"></div>
</section>
</head>

<body>
<section>
  <div class="cardprojet">
    <li class="box"> <a href="#web" class="post_link">WEB</a></li>
    <li class="box"> <a href="#unity" class="post_link">Unity</a></li>
    <li class="box"> <a href="#unreal" class="post_link">UNREAL</a></li>
    <li class="box"> <a href="#mobile" class="post_link">MOBILE</a></li>
  </div>
</section>
<hr>
<section class="post">
  <div class="web" id="web">

      <h1>WEB</h1>
    <p> Vous pouvez retrouver ici un projet réalisé avec des camarades pour
      un cours de web:
            <br>
      <a href="https://github.com/cegepmatane/projet-web-kickoff-tweety">GITHUB</a>
    </p>

  </div>
<hr>

  <div class="web" id="unity">
      <h1>Unity</h1>
    <p> Vous pouvez retrouver ici un projet réalisé avec un camarade pour un cours
      de programmation. C'est un jeu vidéo fait sur unity.
            <br>
    <a href="https://github.com/cegepmatane/projets-SmashLala-Lucas-Yohann">GITHUB</a>
          <br>
    <a href="https://www.youtube.com/watch?v=bAphkL_Y8Tw">Vidéo présentation</a>
    </p>
  </div>
<hr>
  <div class="web" id="unreal">
      <h1>Unreal</h1>
    <p> Vous pouvez retrouver ici un projet  pour un cours de monde virtuel.
      Il y a deux projets différents.
      <br>
      <a href="https://github.com/Lucas-GUFFROY/Monde-Virtuel/tree/master">GITHUB</a>
      <br>
      <a href="https://www.youtube.com/watch?v=E4WIhvLRU2Y">Vidéo </a>
    </p>
  </div>
<hr>
  <div class="web" id="mobile">
    <h1>MOBILE</h1>
<div class="item" data-aos="fade-down">Vous pouvez retrouver ici une vidéo d'un projet
  mobile.
            <br>
      <a href="https://youtu.be/EZVEnI5dgTQ">Vidéo</a>
</div>

  </div>




</section>
</body>
<hr>
<footer class="fin">
  <ul id="menu">
    <li class="nav_item"><a href="#menu" class="nav_link">Revenir en haut</a></li>
  </ul>

</footer>
<script>
  $(window).on("load",function() {
  $(window).scroll(function() {
    var windowBottom = $(this).scrollTop() + $(this).innerHeight();
    $(".web").each(function() {
      /* Check the location of each desired element */
      var objectBottom = $(this).offset().top + $(this).outerHeight();

      /* If the element is completely within bounds of the window, fade it in */
      if (objectBottom < windowBottom) {
        ;//object comes into view (scrolling down)
        if ($(this).css("opacity")==0) {console.log("ICI");
          $(this).fadeTo(400,1);}

      }
    });
  }).scroll(); //invoke scroll-handler on page-load
});

</script>

</html>
