<html>


<link rel="stylesheet" href="../css/home.css">
<link rel="stylesheet" href="../css/cv.css">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">




<head>

  <ul id="menu">

    <li class="nav_item"><a href="index.html" class="nav_link">Home</a></li>
    <li class="nav_item"><a href="aboutme.html" class="nav_link">About me</a></li>
    <li class="nav_item"><a href="apprentissage.html" class="nav_link">Apprentissage</a></li>
    <li class="nav_item"><a href="article.html" class="nav_link">Article</a></li>

  </ul>
  <hr>




<section class="QUI" id="home">
  <p class="titre_qui">CV</p>
  <div class="barree"></div>
</section>


</head>
<body>

  <section class="imgcv">
    <img src="../img/cvv.jpg">
  </section>

</body>
</html>
