<html>

<link rel="stylesheet" href="../css/home.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
  <head>



    <title>PAGE D'ACCUEIL</title>


  </head>
<body>
    <p class="cote">Lucas GUFFROY</p>


  <div class="entete">

    <ul>

      <li class="nav_item"><a href="aboutme.html" class="nav_link">About me</a></li>
      <li class="nav_item"><a href="apprentissage.html" class="nav_link">Apprentissage</a></li>
      <li class="nav_item"><a href="cv.html" class="nav_link">CV</a></li>
      <li class="nav_item"><a href="article.html" class="nav_link">Article</a></li>

    </ul>
  </div>



</body>
  <div class="bare"></div>

</html>
